<h1>StartPage#home</h1>
<p>Find me in app/views/start_page/home.html.erb</p>

<a href="game_loader.html">Load a game into database</a>

<a href="demo.html">Start app demo</a>

<p><%= @game_date %></p>

<p><%= @game_home_team %></p>
