// Place all the styles related to the GamePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.play {
  width: 8px;
  height: 8px;
  font-size: 8px;
  font-weight: bold;
  border: 1px solid black;
  float: left;
  padding: 0;
  line-height: 8px;
  text-align: center;
}

.player_game_flow {
  width: 100%;
  height: 9px;
  float: left;
}

#wrapper {
  position: relative;
  width: 1320px;
  height: 820px;
  border: 1px solid black;
  overflow: hidden;
}

#game_flow {
  width: 1318px;
  height: 230px;
  border: 1px solid black;
}

#game_info {
  width: 284px;
  height: 586px;
  border: 1px solid black;
  float: left;
}


#player_card_area {
  width: 1032px;
  height: 586px;
  float: left;
  border: 1px solid black;
}


/*******************player cards **************/


.card {
  width: 194px;
  height: 278px;
  float: left;
  margin: 10px 0 0 10px;
  background-color: black;
  color: white;
}

.card_info {
  width: 60%;
  float: left;
  height: 80%;
}

.row1 {
  float: left;
  width: 60%;
}

.row2 {
  float: left;
  width: 40%;
}

.card_footer {
  width: 100%;
  float: left;
  height: 20%;
}

.card_photo {
  width: 40%;
  float: left;
  height: 80%;
}

.heat_bar {
  
}





/*******************end player cards **************/



#event_list ul {
  height: 300px;
  overflow: scroll;
  width: 200px;
  font-size: 10px;
}

#slide_space {
  position: absolute;
  top: 0;
  left: -31200px;
  width: 63700px;
  z-index: 5;
}

.player_overlay {
  width: 1300px;
  float: right;
}

#focus_slider {
  float: right;
  width: 2600px;
  display: block;
}