// Place all the styles related to the GamePage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.out {
  display: none;
}

.in {
  display: block;
}

.play {
  width: 8px;
  height: 8px;
  font-size: 8px;
  font-weight: bold;
  border: 1px solid black;
  float: left;
  padding: 0;
  line-height: 8px;
  text-align: center;
}

.player_game_flow {
  width: 100%;
  height: 9px;
  float: left;
}

#wrapper {
  position: relative;
  width: 1300px;
  height: 800px;
  border: 1px solid black;
  overflow: hidden;
}

#game_flow {
  width: 1298px;
  height: 230px;
  border: 1px solid black;
}

#game_info {
  width: 280px;
  height: 564px;
  border: 1px solid black;
  float: left;
}


#player_cards {
  width: 1015px;
  float: left;
  border: 1px solid black;
}

#player_cards div {
  width: 175px;
  height: 245px;
  border: 6px solid #000;
  float: left;
  margin: 10px 8px 15px 8px;
}

#event_list ul {
  height: 300px;
  overflow: scroll;
  width: 200px;
  font-size: 10px;
}

#slide_space {
  position: absolute;
  top: 0;
  left: -31200px;
  width: 63700px;
  z-index: 5;
}

.player_overlay {
  width: 1300px;
  float: right;
}

#focus_slider {
  float: right;
  width: 3900px;
  display: block;
}